Options +FollowSymLinks
RewriteEngine on
RewriteBase /sfinance/
RewriteRule ^main$ controller/index.php [L]
RewriteRule ^([a-zA-Z]+)$ views/$1.php [L]
ErrorDocument 400 /sfinance/error/400.php
ErrorDocument 401 /sfinance/error/401.php
ErrorDocument 403 /sfinance/error/403.php
ErrorDocument 404 /sfinance/error/404.php
ErrorDocument 500 /sfinance/error/500.php
