.caption1 {
	margin-top: 100px;
}
.sell_quantity, .sell, #qt, #sell_cn, #int, .load {
	display: none;
}
.dashboard, .load {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}
.bal {
	text-align: center;
}

.bal1 {
	display: none;
	text-align: center;
}
